body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url();
    background-size: cover;
    
}

    * {
        font-family:"Protest Revolution", sans-serif;
    }
    h2 {
        color:rgb(253, 253, 253)
    }
    p {
        color:rgb(255, 255, 255)
    }

table {
    border-collapse: collapse;
}

th{

    background-color: #000000;
}

th,
td{
    border: 1px solid #000000
    text-align: left;
    padding: 8px;
    color: #fff;
}
a{
    color:#0c4cd6
}